<input type="file" id={{this.randomId}} class="x-file--input" name={{this.name}}
  disabled={{this.disabled}} multiple={{this.multiple}} tabindex={{this.tabindex}} accept={{this.accept}}>
<label for="{{this.randomId}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{this.alt}}
  {{/if}}
</label>
